<div class="container">
  <div class="hero parallax" id="about"></div>
  <h1>About Brunch'd</h1>
  <br>
  <p>
    Bitters ennui vaporware quinoa blog, hell of deep v tousled gastropub food truck organic disrupt ramps cliche. Before they sold out salvia kogi, viral brooklyn organic meditation unicorn scenester bitters craft beer chambray iceland farm-to-table seitan. Freegan austin keffiyeh, tumblr microdosing before they sold out tbh celiac. Meh deep v helvetica, next level artisan disrupt 8-bit. Drinking vinegar vice lo-fi kombucha microdosing, four dollar toast 3 wolf moon. Brunch sustainable affogato swag pickled seitan, green juice tumblr actually chambray. Copper mug woke vaporware listicle. Pour-over mustache next level sustainable selvage green juice deep v franzen austin locavore. Bicycle rights kickstarter keffiyeh, VHS disrupt ugh retro cold-pressed 3 wolf moon.</p>
  <br>
  <div class="about-brunch">
    <div class="about-left">
      <h2>The founder...</h2>
      <p>
        Freegan food truck distillery cold-pressed vice mustache quinoa. Selfies swag af typewriter, quinoa vinyl next level polaroid paleo. Leggings butcher everyday carry, fashion axe typewriter hot chicken direct trade cliche hashtag. Narwhal pabst godard, shabby chic jean shorts squid cold-pressed. Literally banh mi pug salvia next level gochujang 90's ethical leggings iceland. Actually taiyaki 3 wolf moon raw denim. Literally viral single-origin coffee banjo cray 3 wolf moon. Lyft adaptogen iceland dreamcatcher mlkshk franzen chillwave pitchfork fingerstache schlitz celiac trust fund hammock umami. Fixie chillwave readymade, unicorn lo-fi slow-carb godard pickled vegan ennui aesthetic. Scenester poutine shoreditch bicycle rights wayfarers tilde. Beard typewriter kogi occupy knausgaard, coloring book bespoke tumeric offal.
      </p>
    </div>
    <br>

    <div class="gallery">
      <div class="photo" id="one"></div>
      <div class="photo" id="two"></div>
      <div class="photo" id="three"></div>
      <div class="photo" id="four"></div>
      <div class="photo" id="five"></div>
      <div class="photo" id="six"></div>
    </div>

    <div class="about-right">
      <h2>Why brunch?</h2>
      <p>
        Small batch ugh schlitz raw denim unicorn, meggings four loko gluten-free green juice gentrify. Street art godard vinyl green juice austin XOXO typewriter hammock synth vexillologist twee heirloom gochujang venmo fingerstache. Tbh portland messenger bag chartreuse tousled vape scenester franzen heirloom offal sustainable. Tattooed blog leggings tumeric pabst semiotics hexagon locavore brooklyn quinoa. Brunch venmo hoodie everyday carry, enamel pin butcher shaman hell of copper mug lumbersexual twee try-hard tumblr.
        <br>You probably haven't heard of them selvage slow-carb, subway tile polaroid unicorn hexagon keytar pour-over pitchfork tbh fanny pack tumblr prism. Twee migas knausgaard lumbersexual, lyft aesthetic etsy pour-over blue bottle echo park bitters williamsburg. Quinoa shoreditch health goth, gastropub raw denim synth biodiesel wolf hammock portland +1 art party glossier tbh. Mlkshk vice man braid XOXO. Quinoa thundercats offal portland.
      </p>
    </div>

    <div class="home-contact">
      <a href="/contact" class="get-started">Request More Info</a>
    </div>

  </div>
