<div class="container">
  <h1 class="biggest">Brunch'd</h1>

  <div class="hero parallax" id="home"></div>
  <br>

  <div class="welcome">
    <h2>Welcome to Brunch'd.</h2>
    <h3>A Philadelphia-based brunch delivery service</h3>
    <br>
    <p>
      Brunch, the classic combination of breakfast and lunch, is typically enjoyed on weekends from late morning to early afternoon. Generally served from 11am to 3pm, the relaxed meal frequently includes mimosas and bloody marys and the company of good friends.<br>
      With so many great brunch spots in the city, we understand the importance of having brunch when you want it, where you want it. If you don't feel like leaving the comfort of your couch, let us bring brunch to you! Complete menus are available for order from your favorites, including cocktails. Sign up to be a Brunch'd ambassador today for exclusive, front of the line access when the full service launches.
    </p>
  </div>
  <br>
  <div class="partner-preview img-wrapper">
    <img src="../img/ali-inay.jpg" class="partner-one" alt="Breakfast">
    <img src="../img/brooke-lark.jpg" class="partner-two" alt="Breakfast">
    <div class="img-overlay">
      <a href="/partners" class="meet-partner">Meet Our Partners</a>
    </div>
  </div>
  <div class="welcome">
    <br>
    <h2>How does it work?</h2>
    <h3>It's true, you can have brunch delivered without having to leave your living room.</h3>
    <br>
    <p>
      Place your order by phone or online with your personal Brunch'd concierge. Save your favorite orders for one-click placement. Within minutes, a full brunch spread will be delivered right to you. Invite your friends over, or enjoy an intimate brunch for one provided by Brunch'd. Delivery is available rain or shine (within service area) all year round. Brunch'd launches Spring 2018. Interested in more information?
    </p>
    <br>
  </div>

  <div class="big-contact">
    <a href="/contact" class="get-started">Get Brunch'd!</a>
  </div>

</div>
