<div class="container">
  <div class="hero parallax" id="partners"></div>
  <h1>Meet our Partners</h1>
  <br>
  <p>
    Actually pabst venmo salvia, pour-over single-origin coffee twee kale chips ugh etsy squid. Seitan waistcoat helvetica art party pickled tote bag forage gastropub. Aesthetic crucifix dreamcatcher, farm-to-table fingerstache man braid iceland banjo
    godard. Kinfolk taiyaki you probably haven't heard of them, activated charcoal kickstarter ugh air plant sartorial four dollar toast cronut.
  </p>

  <div class="partners-grid">
    <div class="partner-info">
      <a href="https://www.burgshideaway.com/" class="name" target="_blank">Burg's Hideaway Lounge</a>
    </div>
    <div class="partner-info">
      <a href="https://phillygrub.wordpress.com/2017/09/05/burgs-hideaway-lounge/" target="_blank">Read the review.</a>
    </div>
    <div class="partner-info">
      <a href="https://www.burgshideaway.com/brunch" target="_blank">See the menu.</a>
    </div>
    <div class="partner-info">
      <a href="http://www.brigantessaphila.com/" class="name" target="_blank">Brigantessa</a>
    </div>
    <div class="partner-info">
      <a href="http://www.phillymag.com/foobooz/2017/05/03/brigantessa-brunch-sanctuary-tap/" target="_blank">Read the review.</a>
    </div>
    <div class="partner-info">
      <a href="http://www.brigantessaphila.com/3865471-pranzo-brunch" target="_blank">See the menu.</a>
    </div>
    <div class="partner-info">
      <a href="http://www.walnutstreetcafe.com/" class="name" target="_blank">Walnut Street Cafe</a>
    </div>
    <div class="partner-info">
      <a href="http://www.philly.com/philly/columnists/craig_laban/walnut-street-cafe-daniel-eddy-university-city-cira-center-all-day-cafe-20171006.html" target="_blank">Read the review.</a>
    </div>
    <div class="partner-info">
      <a href="http://www.walnutstreetcafe.com/wp-content/uploads/2017/05/brunch-20171031.pdf" target="_blank">See the menu.</a>
    </div>
  </div>

  <div class="big-contact">
    <a href="/contact" class="get-started">Get Brunch'd!</a>
  </div>
</div>
