<div class="container">
  <div class="hero parallax" id="partners"></div>

  <h1>Meet our Partners</h1>
  <br>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="partners-grid">
      <div class="partner-info"><a href="https://www.burgshideaway.com/" class="name" target="_blank">Burg's Hideaway</a></div>
      <div class="partner-info"><a href="https://phillygrub.wordpress.com/2017/09/05/burgs-hideaway-lounge/" target="_blank">Read the review.</a></div>
      <div class="partner-info"><a href="https://www.burgshideaway.com/brunch" target="_blank">See the menu.</a></div>
      <div class="partner-info"><a href="http://www.brigantessaphila.com/" class="name" target="_blank">Brigantessa</a></div>
      <div class="partner-info"><a href="http://www.phillymag.com/foobooz/2017/05/03/brigantessa-brunch-sanctuary-tap/" target="_blank">Read the review.</a></div>
      <div class="partner-info"><a href="http://www.brigantessaphila.com/3865471-pranzo-brunch" target="_blank">See the menu.</a></div>
      <div class="partner-info"><a href="http://www.walnutstreetcafe.com/" class="name" target="_blank">Walnut Street Cafe</a></div>
      <div class="partner-info"><a href="http://www.philly.com/philly/columnists/craig_laban/walnut-street-cafe-daniel-eddy-university-city-cira-center-all-day-cafe-20171006.html" target="_blank">Read the review.</a></div>
      <div class="partner-info"><a href="http://www.walnutstreetcafe.com/wp-content/uploads/2017/05/brunch-20171031.pdf" target="_blank">See the menu.</a></div>
    </div>

    <div class="big-contact">
      <a href="/contact" class="get-started">Get Brunch'd!</a>
    </div>
</div>
