* {
  box-sizing: border-box;
  margin: 0;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

/* Layout Page Styling */

/* Nav Bar Styling */

.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 500;
}

.nav-btn {
  padding: 10px;
}

a.nav-btn {
  text-decoration: none;
  color: black;
}

a.nav-btn:hover {
  color: blue;
}

/* All Page Styles */

.container {
  padding: 60px 20px 50px 20px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.biggest {
  font-size: 4em;
  text-align: center;
}

/* Home Page */

#home {
  background-image: url('../img/brooke-lark.jpg');
  height: 500px;
}

.partner-preview {
  display: flex;
  align-items: center;
}

.partner-one, .partner-two {
  max-width: 50%;
}

/*Floating Button */

.img-responsive {
  max-width: 50%;
  display: flex;
  align-items: center;
}

.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 50%;
}

.meet-partner, .get-started {
  border: white 1px solid;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.get-started {
  display: block;
  text-align: center;
  max-width: 20%;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*About Page*/

#about {
  background-image: url('../img/brooke-lark.jpg');
  height: 300px;
}

.about-brunch {
  padding-top: 10px
}

/* About Page Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  align-items: center;
  position: relative;
}

@media all and (max-width: 600px) {
  .grid {
    grid-template-columns: 50% 50%;
  }
}

@media all and (max-width: 400px) {
  .grid {
    grid-template-columns: 100%;
  }
}

.photo {
  background: indigo;
  color: white;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.photo:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

#one {
  background-image: url('../img/nathan-dumlao-sm.jpg');
}

#two {
  background-image: url('../img/eaters-collective-sm.jpg');
}

#three {
  background-image: url('../img/toa-heftiba-sm.jpg');
}

#four {
  background-image: url('../img/david-lezcano-sm.jpg');
}

#five {
  background-image: url('../img/ali-inay-sm.jpg');
}

#six {
  background-image: url('../img/joseph-gonzalez.jpg');
}

/* Contact Page Styling */

#contact {
  background-image: url('../img/eaters-collective.jpg');
  height: 300px;
}

/* Contact Form */
form {
  padding: 20px;
}

input[type=text], #message {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

/* Partners Page Styling */

#partners {
  background-image: url('../img/joseph-gonzalez.jpg');
  height: 300px;
}

.partners-grid {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
  position: relative;
}

.partner-info {
  background: salmon;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.partner-info>a {
  text-decoration: none;
  color: white;
}

.partner-info>a:hover {
  color: blue;
}

a.name {
  font-size: 3em;
}
